header{
    height: 90px;
    width: 100%;
    background-color: #2c3e50;
    padding: 15px;
  
}

header .bg-light{
    --bs-bg-opacity: 0;
}

.red{
    /* debug */
    background-color: red;
    height: 50px;
    border: solid 2px white;

}

/* .blue{
    background-color: blue;
    height: 480px;
} */

#jumbotron{
    width: 100%;
    height: 588px;
    background-color: #1abc9c;
}

#jumbotron .cont_img{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

#jumbotron img{
    height: 270px;
}

h1{
    font-size: 60px;
    color: white;
    font-weight: bold;
}

#jumbotron h4{
    color: white;
    font-weight: bold;
}



.cont_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.cont_icon i{
    font-size: 30px;
    color: white;
    margin: 0 20px;
}

.line{
    height: 4px;
    width: 170px;
    background-color: white;
    border-radius: 50px;
}

.cont_icon i.blue{
    font-size: 30px;
    color: #2c3e50;
}

.line.blue{
    background-color: #2c3e50;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}





#portfolio{
    width: 100%;
    height: 850px;

}

#portfolio h2{
    font-size: 50px;
    font-weight: bold;
    color: #333333;
}

#portfolio img{
    max-width: 100%;
    border-radius: 15px;
}

#about{
    width: 100%;
    height: 850px;
    background-color: #1abc9c;
}

#contact{
    width: 100%;
    height: 850px;

}

#footer_top{
    width: 100%;
    height: 850px;
    background-color: #3a546d;

}

#footer_bottom{
    height: 90px;
    width: 100%;
    background-color: #2c3e50;

}